Checks: >
    *,
    -*-avoid-c-arrays,
    -*-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -google-explicit-constructor,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-overloaded-operator,
    -hicpp-explicit-conversions,
    -llvmlibc-*,
    -modernize-use-trailing-return-type,
    -readability-isolate-declaration,
