name: test

on: [push]

jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]

    steps:
    - name: cmake
      run: cmake .
    - name: cmake build
      run: cmake --build .
    - name: ctest
      run: ctest
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
